NEXT_PUBLIC_PUBLIC_API_BASE_URL=http://localhost:8081
NEXT_PUBLIC_OPEN_API_BASE_URL=http://localhost:8083

NEXT_PUBLIC_OPEN_API_DEFAULT_YEAR=2026
NEXT_PUBLIC_OPEN_API_DEFAULT_MONTH=5
NEXT_PUBLIC_AGRI_CABBAGE_LOCATION=강릉
NEXT_PUBLIC_AGRI_ONION_LOCATION=합천
NEXT_PUBLIC_HYDROPOWER_DAM_NAME=합천
